.about {
  margin-top: 50px;
  margin-bottom: 150px;
}

.about-progress-bar{
  margin-bottom: 20px;
}

.skills-container{
  width: 50%;
  height: 75%;
  margin:10px;
}
.skills-wrapper{
  justify-content: space-between;
  display: flex;
}