.portfolio-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  word-break: break-word;
  h4 {
    text-align: center;
    font-weight: 600;
  }
  p {
    text-align: center;
  }
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  //background-color: rgba($color: #000000, $alpha: 0.2);
  color: black;
}
.portfolio-box:hover {
  cursor: default;
}

.portfolio-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.pbox-container {
  padding: 2px 16px;
}

.text-color-pb {
  color: white;
}

.pb-margin {
  margin-bottom: 150px;
  @media (max-width: $desktop-breakpoint) {
    margin-left: 10px;
    margin-right: 40px;
  }
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
    div {
      width: 100% !important;
      padding: 10px;
      align-content: center;
      margin-left: 10px;
      margin-right: 40px;
    }
  }
}

.flexbox-container > div {
  width: 50%;
  padding: 10px;
}

.flexbox-container > div:first-child {
  margin-right: 20px;
}
