* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: #333333;
  line-height: 1.6; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.is-active {
  font-weight: bold; }

.box-layout {
  background: url("/images/bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9; }

.box-layout__box {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  text-align: center;
  width: 30rem;
  padding: 3.2rem 1.6rem; }
  .box-layout__box hr {
    opacity: 0.2; }

.box-layout__title {
  margin: 0 0 1.6rem 0;
  line-height: 1; }

.box-layout__links {
  color: #333333;
  padding: 1.6rem; }

.button, .button--secondary {
  background: #1c88bf;
  border: none;
  border-bottom: .7px;
  font-size: 1.8rem;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  font-weight: 300;
  padding: 1.2rem;
  color: white; }

.button--secondary {
  background: darkred; }

.content-container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 80rem; }

.form {
  display: flex;
  flex-direction: column; }
  .form > * {
    margin-bottom: 1.6rem; }

.form__error {
  background: #FF9494;
  padding: 20px;
  display: flex;
  color: white;
  line-height: 30px; }

.form__error:before {
  flex: 0 0 30px;
  height: 30px;
  border: 1px solid white;
  margin-right: 20px;
  border-radius: 50%;
  content: '!';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; }

.input-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 3.2rem; }
  @media (max-width: 45rem) {
    .input-group {
      flex-direction: column;
      margin-bottom: 3.2rem; } }

.input-group__item {
  margin-right: 1.2rem;
  display: flex; }
  @media (max-width: 45rem) {
    .input-group__item {
      margin-bottom: 1.6rem; } }

.text-input, .select, .text-area {
  border: 1px solid #cacccdd;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1.2rem; }

.text-area {
  height: 10rem; }

.list-header {
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  color: #666;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.6rem; }

.list-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #e5e5e5;
  border-top: none;
  text-decoration: none;
  color: #333333;
  padding: 1.6rem;
  align-items: center;
  justify-content: space-between;
  transition: background .3s ease; }
  .list-item:hover {
    background: #f7f7f7; }
  @media (max-width: 45rem) {
    .list-item {
      flex-direction: column;
      padding: 1.2rem;
      align-items: stretch; } }

.list-item__title {
  margin: 0;
  word-break: break-all; }

.list-body {
  margin-bottom: 1.6rem; }
  @media (min-width: 45rem) {
    .list-body {
      margin-bottom: 3.2rem; } }

.list-item__message {
  align-items: center;
  color: #666;
  justify-content: center;
  padding: 1.6rem; }
  .list-item__message:hover {
    background: none; }

.list-item__subtitle {
  color: #666;
  font-size: 1.4rem; }

.list-item__data {
  margin: 0;
  padding-left: 1.2rem; }
  @media (max-width: 45rem) {
    .list-item__data {
      margin: 1.2rem 0 0 0; } }

.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center; }

.loader__image {
  height: 6rem;
  width: 6rem; }

.page-header {
  background: #f7f7f7;
  margin-bottom: 3.2rem;
  padding: 3.2rem 0; }

.page-header__title {
  font-weight: 300;
  margin: 0; }
  .page-header__title span {
    font-weight: bold; }

.page-header__actions {
  margin-top: 1.6rem; }

.header {
  background: #364051;
  color: white; }

.header__title {
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 100px; }
  .header__title h1 {
    margin: 0; }

.header__content {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0;
  line-height: 50px; }
  .header__content h5 {
    margin: 0 0 0 0; }

.header__content2 {
  text-align: center; }

@media (min-width: 45rem) {
  .show-for-mobile {
    display: none; } }

@media (max-width: 44.99rem) {
  .show-for-desktop {
    display: none; } }


/*# sourceMappingURL=styles.chunk.css.map*/