html {
  height: 100%;
  width: 100%;
  font-family: "Neo Sans", "Helvetica";
  color: black;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Neo Sans", "Helvetica";
  color: black;
}

.absolute {
  position: absolute;
}

.typed-style {
  font-size: $l-size;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
}

// WRAPPER
.cover {
  background-color: #bdcad9;
  background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);

  //background-image: linear-gradient(45deg, #d5d0e5 0%, #f3e6e8 100%);
  overflow: hidden;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative;
}

.main-section {
  top: 150px;
  width: 100%;
}

.hero-section {
  h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    @media (max-width: 45rem) {
      font-size: 24px;
    }
  }

  perspective: 1000px;
  color: white;
  width: 400px;
  position: relative;

  &-content {
    position: absolute;
    bottom: 20px;
    width: 360px;
    left: 6%;
    z-index: 1;
    padding-right: 30px;

    &-intro {
      font-size: 17px;
      @media (max-width: 990px) {
        font-size: 16px;
      }
    }
  }
}

.image {
  width: auto;
  max-width: 100%;
}

.hero-welcome-text > h1 {
  color: white;
  text-transform: uppercase;
  font-size: 27px;
  margin-top: 50px;
  letter-spacing: 1.5px;
  @media (max-width: 770px) {
    h1 {
      margin-top: 100px;
    }
  }
}

.hero-welcome-bio {
  margin-top: 20px;
  color: white;

  .fa-stack {
    font-size: 28px;
  }

  .list-inline-item {
    > a {
      color: #373737;
    }
  }
}

.hero-welcome-wrapper {
  justify-content: flex-end;
  padding-top: 0px;
  @media (max-width: 600px) {
    padding-top: 30px;
  }
}

.cv-wrapper {
  justify-content: right;
}

.center-self {
  justify-self: center;
  align-self: center;
}

@media (max-width: 991px) {
  .hero-section {
    width: 341px;
    margin: 30px auto;

    &-content {
      width: 341px;
    }
  }

  .hero-welcome-text > h1 {
    margin-top: 0px;
  }
}

.background-image {
  position: absolute;
  width: 1762px;
  height: 493px;
}

.shadow-custom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.6);
  border: 2px solid #000;
  .shadow-inner {
    width: 100%;
    height: 100%;
    box-shadow: -17px 13px 13px rgba(0, 0, 0, 0.09);
  }
}

.shadow-custom-2 {
  border: 2px solid #f37d49;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.3);
}

.base-page {
  padding-top: 50px;
}

.white-link {
  color: white;
  text-decoration: none;
}

.navbar-color {
  @media (max-width: $desktop-breakpoint) {
    background-color: black;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 15px;
}

.social-container {
  display: flex;
  justify-content: space-evenly;
  filter: hue-rotate(45deg);
}

.social-wrapper {
  margin: 0 auto;
}
